* {
   --background: #f1f5f8;
   --background-alt: rgba(241, 245, 248, 0.75);
   --background-highlight: #bbd7f2;
   --border: rgba(0,0,0,0.08);
   --border-alt: rgba(0,0,0,0.2);

   --ship-border-p1: rgba(0,255,0,0.5);
   --ship-bg-p1: rgba(0, 255, 0, 0.15);
   --ship-hover-p1: rgba(0, 255, 0, 0.15);
   --ship-border-p2: rgba(255,0,0,0.5);
   --ship-bg-p2: rgba(255, 0, 0, 0.5);
   --ship-hover-p2: rgba(255, 0, 0, 0.15);

   --text: #444; 
}

body {
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    /* background-color: #2c3441; */
    /* color: white; */
}

.container {
    margin-top: 20px;
    margin-bottom: 20px;
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.battleship-grid {
    display: grid;
    border: 1px solid var(--border-alt);
    border-radius: 8px;
    background: var(--background);
    box-shadow: 0 22px 43px -20px rgba(255, 255, 255, 0.15);
    width: 400px;
    height: 400px;
    /* overflow: hidden; */
}

.cell {
    /* width: 10px; */
    /* height: 10px; */
    border: 1px solid var(--border);
    transition: 0.2s ease all;
    /* cursor: pointer; */
}

.cell.bang {
    animation: cellHighlight 0.6s ease-in-out;
    background-color: goldenrod;
}

.cell.miss {
    background-color: cornflowerblue;
    animation: cellHighlight 0.6s ease-in-out;
}

@keyframes cellHighlight {
    0% {
        transform: scale(1), rotate(0deg);
    }
    25% {
        transform: scale(1.08) rotate(5deg);
    }
    50% {
        transform: scale(1) rotate(0deg);
    }
    75% {
        transform: scale(1.08) rotate(-5deg);
    }
    100% {
        transform: scale(1) rotate(0deg);
    }
}

#grid-2.selectable > .cell {
    cursor: pointer;
}
#grid-2.selectable > .cell:hover {
    transform: scale(1.08);
    background: var(--background-highlight);
}

#grid-2.selectable > .cell.bang:hover {
    transform: none !important;
    cursor: default;
    background-color: orange;

} 
#grid-2.selectable > .cell.miss:hover {
    transform: none !important;
    cursor: default;
    background-color: cornflowerblue;
}

.ship {
    border: 1px solid;
    border-radius: 8px;
    transition: 0.2s ease all;
    z-index: 2;
}

.ship.p1 {
    border-color: var(--ship-border-p1);
    background: var(--ship-bg-p1);
    cursor: grab;
}

.ship.p2 {
    border-color: var(--ship-border-p2);
    background: var(--ship-bg-p2);

}

.ship.p1:hover {
    transform: scale(1.08);
    backdrop-filter: blur(5px);
    z-index: 999;
}

.ship.p1.dead:hover {
    transform: scale(1.08);
    backdrop-filter: none;
    z-index: 1;
    background-color: #540303;
}

.ship.p1.dragging {
    cursor: grabbing;
    visibility: hidden;
    transition: none;
}

.ship#ghost {
    position: absolute;
    visibility: hidden;
    transition: none;
    left: 0;
    top:0;
}

.ship.p1:hover {
    background: var(--ship-hover-p1);
}

/* .ship.p2:hover {
    background: var(--ship-hover-p2);
} */

.ship.p2 {
    visibility: hidden;
}

.ship.dead {
    visibility: visible;
    background-color: #540303;
}

.controls {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    align-items: center;
}

.status {
    flex-basis: 100%;
}

.health {
    margin-bottom: 10px;
}

h2 {
    margin-bottom: 0;
}